/*
Theme URI: http://goodgoodwork.io/themes/democrats
Author: Good Good Work
Author URI: http://goodgoodwork.io
Description: Custom theme for democrats.com based on underscore
Version: 0.0.1
Template:       understrap
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:    democrats
*/
